/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --main-color: #00abf0;
  --text-color: #fff;
  --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
  --pages-color: linear-gradient(90deg, #fff, #ddd);
  --border: 0.125rem solid #00abf0;
  --box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 66rem;
  height: 45rem;
  padding: 2rem;
  perspective: 250rem;
  max-width: 900px;
  margin: auto;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-page {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--pages-color);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  z-index: 1;
  overflow: hidden;
  transition: transform 0.8s ease-in-out;
  backface-visibility: hidden;
  transform-origin: left;
}

.book-page.turn {
  transform: rotateY(180deg);
  z-index: 5;
}

.profile-page {
  text-align: center;
  padding: 2rem;
}

.profile-page img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: auto;
}

h1, h3, p, ul {
  text-align: center;
}

.skills-list li {
  list-style: none;
  font-size: 1.2rem;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 3rem;
  background: var(--main-color);
  border: var(--border);
  border-radius: 0.3rem;
  font-size: 1rem;
  color: var(--text-color);
  transition: 0.5s;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
}
